@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Jacques+Francois+Shadow&display=swap');

.outer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.favoritesCard {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 10px red;
}

.favoritesPoster {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.favoritesNumber {
  font-family: 'Jacques Francois Shadow', cursive;
  justify-content: center;
  color: blue;
  background-color: white;
  margin: 10px;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -20px;
  left: -20px;
  text-align: center;
  opacity: 90%;
}

.favoritesNumberDigit {
  font-size: 50px;
  line-height: 40px;
}

.favoritesTitle {
  text-align: center;
  align-content: center;
  width: 100%;
  font-size: 2em;
  vertical-align: middle;
  display: inline;
  vertical-align: middle;
  max-height: 100px;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
}

.favoritesPanel {
  width: 33%;
  min-height: 100vh;
  padding: 1rem;
  font-size: 2em;
}

.favoritesContainer {
  display: flex;
}

