body {
    overflow: scroll;
}

.movieRow {
    margin-top: 15px;
}

.card {
    margin-top: 15px;
}

.moviesListCard {
    width: 18rem;
}

div.poster {
    margin: 10px;
}

.smallPoster {
    user-select: none;
}

.star {
    width: 32.5em;
    height: 4em;
    filter: drop-shadow(2px 4px 6px black);
}

.starFill{
    fill: yellow;
}

.starEmpty {
    fill: white;
}

#star {
    position: absolute;
    
    
}