<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- restaurant needed -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetTin">
        <activity

            android:name=".RestaurantsNearByMeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize"/>

        <activity
            android:name=".GroupChat.Fragments.GroupChatsFragment.GroupMessageActivity"
            android:exported="false" />
        <activity
            android:name=".GroupChat.CreateGroupChatActivity"
            android:exported="false"
            android:label="@string/title_activity_create_group_chat"
            android:theme="@style/Theme.PetTin.NoActionBar" />
        <activity
            android:name=".GroupChat.Fragments.ChatsFragment.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".SingleDogActivity"
            android:exported="false" />
        <activity
            android:name=".AddPlayDateActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"

            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"

            android:exported="false" />
        <activity
            android:name=".PlayDateActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".ShowPostDetailActivity"

            android:exported="false" />
    </application>

</manifest>